<div class="hidden-meta" data-ng-if="partialContents[0]" data-gsn-title="{{ ChainName + ' | ' + (getConfig('title').Description || partialContents[0].Headline)}}"></div>
<div><!-- default is two columns -->
    <div class="staticContent" data-ng-if="partialContents[0].Description">
        <h1 data-ng-bind-html="partialContents[0].Headline" data-ng-if="partialContents[0].Headline"></h1>
        <div data-ng-bind-html="partialContents[0].Description | removeAspx | trustedHtml"></div>  
    </div>
    <div class="row" data-ng-repeat="idx in [] | range:0:getPageCount(partialContents.slice(1),2)">
        <div class="col-md-6 col-sm-6 staticBlock" data-ng-repeat="item in partialContents.slice(1) | pagingFilter:2:idx">
            <h1 data-ng-bind-html="item.Headline" data-ng-if="item.Headline"></h1>
            <div class="staticDescription" data-ng-bind-html="item.Description | removeAspx | trustedHtml"></div>
        </div>                                
    </div> 
</div>