<div class="row">
	<div class="col-md-12" data-ng-include="getThemeUrl('/views/engine/circular-view-type.html')"></div>
</div>
<br/>
<div data-gsn-digital-circ="vm.digitalCirc" data-ng-if="!gsnApi.browser.isMobile && ',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
  <div data-ng-non-bindable=""></div>
</div>
<div data-gsn-digi-circ="vm.digitalCirc" data-ng-if="gsnApi.browser.isMobile || ',visible-lg,visible-md'.indexOf(bsDisplayMode) < 0">
  <div data-ng-non-bindable=""></div>
</div>

<div class="dcircular-popup" style="display: none">
  <div class="popup-title"></div>
  <div class="popup-content"></div>
</div>