<div class="hidden-meta" data-gsn-title="{{ChainName}} | circulars"></div>
<div style="padding:15px !important;" class="col-md-12" data-ctrl-circular="" data-ng-init="isListView = (currentPath.indexOf('list') > 0 || currentPath.indexOf('text') > 0)">
   <ul class="nav nav-tabs" style="padding-top: 5px">

<script>

(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};
		
		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);
			
			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;
			
			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
			
			$self.data('countTo', data);
			
			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);
			
			// initialize the element with the starting value
			render(value);
			
			function updateTimer() {
				value += increment;
				loopCount++;
				
				render(value);
				
				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}
				
				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;
					
					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}
			
			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};
	
	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};
	
	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('#count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});

</script>

<li class="active">
		<a class="btn-default" href="/circular">Weekly Ads</a>
  </li>


	<li data-ng-class="">
		<a class="btn-default" href="/coupons">Printable Coupons</a>
  </li>
  </ul>
  <div><h2 class="timer count-title" id="count-number" data-to="400" data-speed="1500"></h2><h3 style="text-align:center;">deals this week!</h3></div>
  <div data-ng-show="vm.noCircular">
    <h3>No circular for this store.</h3>
  </div>
  <div class="productImagePopOver hidden" data-ng-non-bindable="">
    <img data-ng-src="{{item.ImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
  </div>
  <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="vm.digitalCirc == null || vm.noCircular">
  </div>

  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="pull-left" data-ng-include="getThemeUrl('/views/engine/circular-view-type.html')"></div>
    </div>
    <div class="col-md-5 col-xs-12 text-right">
      <span>Sort by: </span>
      <div class="btn-group dropdown">
        <button style="" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{sortByName}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="javascript:void(0)" data-ng-click="toggleSort('PageNumber');sortByName='Page'">Page</a>
          </li>
          <li>
            <a href="javascript:void(0)" data-ng-click="toggleSort('CategoryName');sortByName='Department'">Department</a>
          </li>
          <li>
            <a href="javascript:void(0)" data-ng-click="toggleSort('BrandName');sortByName='Brand'">Brand</a>
          </li>
          <li>
            <a href="javascript:void(0)" data-ng-click="toggleSort('Description');sortByName='Alphabetic'">Alphabetic</a>
          </li>
        </ul>
      </div>
    </div>
    <datalist id="departments">
      <option value="{{item.key}}" data-bindonce="" data-ng-repeat="item in vm.categories">
    </datalist>
    <datalist id="brands">
      <option value="{{item.key}}" data-bindonce="" data-ng-repeat="item in vm.brands">
    </datalist>
    <div class="col-md-12">
      <form name="circularSearch" class="input-group pull-right" style="width: 300px; padding-top: 5px" data-ng-submit="gvm.searchActive = false">
        <input type="text" class="form-control" placeholder="Search for..." data-ng-model="vm.filterBy">
        <div class="input-group-btn" data-ng-class="{ 'open': gvm.searchActive }">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
          <button class="btn btn-default" type="button" data-ng-click="gvm.searchActive = !gvm.searchActive">
            More
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" style="padding: 10px">
            <span class="pull-right">Department: <input type="text" list="departments" data-ng-model="vm.filter.CategoryName" placeholder="--All Departments--" class="text-center" /></span>
            <span class="pull-right">Brand: <input type="text" list="brands" data-ng-model="vm.filter.BrandName" placeholder="--All Brands--" class="text-center" /></span>
            <span class="pull-right">
              <button type="reset">Reset</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12">
   <div data-infinite-scroll="loadMore()">
      <div data-ng-repeat-start="item in allItems" data-ng-class="{ '': $index == 0 || allItems[$index-1][sortBy] != item[sortBy] }">
        <div data-ng-if="$index == 0 || allItems[$index-1][sortBy] != item[sortBy]">
          <h4>{{item[sortBy]}}</h4>
          <h5>Description</h5>
        </div>
      </div>
      <div class="row items thumbnail" itemscope itemtype="http://schema.org/Product">
        <div class="col-md-8 col-xs-8">
          <div class="hidden meta">
            <div class="product-id">{{item.CircularItemId}}</div>
            <div class="product-brand">{{item.BrandName}}</div>
            <div class="product-category">{{item.CategoryName}}</div>
          </div>
          <div data-ng-if="currentPath.indexOf('text') < 0" class="cold-md-4 col-sm-6 col-xs-12 circularItem">
            <img itemprop="image" data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
          </div>
          <p itemprop="description" data-gsn-modal="getThemeUrl('/views/engine/modal-circular-item.html')" data-ng-click="vm['item' + $index] = $index; showModal();" data-disable-scroll-top="true" data-track="{ 'action': 'CircularItem', 'category': item.CategoryName, 'label': item.Description, 'item': item, 'timedload': 50 }">
            <span itemprop="name">{{item.Description}}</span><br />
            {{item.ItemDescription}}
          </p>
        </div>
        <div class="col-md-3 col-xs-9">
          <div class="SalePrice" data-ng-show="item.PriceString" itemprop="price" content="{{item.SalePrice}}">{{item.PriceString}}</div>
          <div class="savings" data-ng-show="item.Savings">SAVINGS - {{item.SavingsString}}</div>
        </div>
        <div class="col-md-1 col-xs-3">
          <button class="btn btn-default btn-xs pull-right" data-ng-click="doToggleCircularItem($event, item)">{{ isOnList(item) && "REMOVE" || "ADD ITEM"}}</button>
        </div>
      </div>
      <div class="row" data-ng-repeat-end=""></div>
      <div>
        <div class="pull-right">{{allItems.length}} of {{vm.cacheItems.length}}</div>
        <h5>Disclaimer:</h5>
        <div class="disclaimer">We reserve the right to limit quantities and correct all printed errors. Prices subject to state and local taxes, if applicable. No sales to dealers. Purchase requirements exclude discounts, coupons, gift cards.</div>
      </div>
    </div>
  </div>
</div>
<style>
.circularItem img {
  width: auto;
}

@media(max-width: 767px){
  .circularItem img {
    width: 60%;
  }
}
</style>