<div class="row">
  <div class="col-md-4">
    <div class="pull-left" data-ng-include="getThemeUrl('/views/engine/circular-view-type.html')"></div>
  </div>
  <div class="col-md-8 col-xs-12">
     <!--  <span>
        <span>Search By:</span>
        <div class="btn-group">
          <input class="searchfield btn btn-primary" type="text" placeholder="enter keyword" data-ng-model="vm.filterBy" name="filterby" />
        </div>
      </span>
      <span>
        <span>Sort By:</span>
        <div class="btn-group dropdown" dropdown>
          <button style="" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{sortByName}} <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-ng-click="toggleSort('PageNumber');sortByName='page'">page</a></li>
            <li><a href="javascript:void(0)" data-ng-click="toggleSort('CategoryName');sortByName='department'">department</a></li>
            <li><a href="javascript:void(0)" data-ng-click="toggleSort('BrandName');sortByName='brand'">brand</a></li>
          </ul>
        </div>
      </span> -->
  </div>
  <div class="sponsor" data-gsn-ad-unit="9" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
</div>
<div class="col-md-12">
  <div data-infinite-scroll="loadMore()">
    <div data-ng-repeat-start="item in allItems" data-ng-class="{ '': $index == 0 || allItems[$index-1][sortBy] != item[sortBy] }">
      <div data-ng-if="$index == 0 || allItems[$index-1][sortBy] != item[sortBy]">
        <h4>{{item[sortBy]}}</h4>
        <h5>Description</h5>
      </div>
    </div>
    <div class="row items thumbnail" itemscope itemtype="http://schema.org/Product">
        <div class="col-md-8 col-xs-8">
          <div data-ng-if="currentPath.indexOf('text') < 0" class="cold-md-4 col-sm-6 col-xs-12 circularItem">
            <img itemprop="image" data-gsn-popover="" data-selector=".productImagePopOver" data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
          </div>
          <p itemprop="description">
            <span itemprop="name">{{item.Description}}</span><br />
            {{item.ItemDescription}}
          </p>
        </div>
        <div class="col-md-3 col-xs-9">
          <div class="SalePrice" data-ng-show="item.PriceString" itemprop="price" content="{{item.SalePrice}}">{{item.PriceString}}</div>
          <div class="savings" data-ng-show="item.Savings">SAVINGS - {{item.SavingsString}}</div>
        </div>
        <div class="col-md-1 col-xs-3">
          <button class="btn btn-primary btn-xs pull-right" data-ng-click="doToggleCircularItem($event, item)">{{ isOnList(item) && "Remove" || "Add"}}</button>
        </div>
    </div>
    <div class="row" data-ng-repeat-end=""></div>

    <div class="gsn-popover">
      <div class="popover-content"></div>
    </div>
    <div>
      <h5>Disclaimer:</h5>
      <div class="disclaimer">We reserve the right to limit quantities and correct all printed errors. Prices subject to state and local taxes, if applicable. No sales to dealers. Purchase requirements exclude discounts, coupons, gift cards.</div>
    </div>
  </div>
</div>
<style>
.circularItem img {
  width: auto;
}

@media(max-width: 767px){
  .circularItem img {
    width: 60%;
  }
}

.gsn-popover 
{
  position: fixed; 
  z-index: 100; 
  padding: 5px; 
  background: #fff
}

.gsn-popover img {
  width: 200px;
}

</style>