<h1>Store Coupons</h1>
<div>
  <div class="col-md-6 totalSavings"></div>
  <div class="col-md-6 col-xs-12">
    <span class="sortBy">
      <span>Sort By:</span>
      <div class="btn-group dropdown" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          {{sortByName}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-touch" role="menu">
          <li><a href="javascript:void(0)" data-ng-click="sortBy = 'EndDate';sortByName='About to Expire'">About to Expire</a></li>
          <li><a href="javascript:void(0)" data-ng-click="sortBy = 'CategoryName';sortByName='Department'">Department</a></li>
        </ul>
      </div>
    </span>
    <span>
      <span>Search By:</span>
      <div class="btn-group">
        <input type="text" placeholder="enter keyword" data-ng-model="filterBy" name="filterby" />
      </div>
    </span>
  </div>
</div>
<div>                                                              
  <div data-ng-show="selectedCoupons.items.length <= 0 && filterBy">No results returned.</div>
  <div data-infinite-scroll="loadMore()">
    <div class="col-md-4 col-sm-4 col-xs-12" data-ng-repeat="item in selectedCoupons.items">
      <div class="text-center">
        <img data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
        <div class="product-description">
          <h4>{{item.Description1}}</h4>
          <p>{{item.Description2}}</p>
          <h5>expires: {{item.EndDate | date: 'M / dd / yyyy'}}</h5>
          <p data-ng-show="item.ProductCode"><strong>PLU:</strong>{{item.ProductCode}}</p>  
          <p>{{item.TopTagLine}}</p>
          <p>{{item.Description3}}{{item.Description4}}</p>
          <p >{{item.BottomTagLine}}</p> 
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-xs" data-ng-click="doToggleCartItem($event, item)">{{ isOnList(item) && "Remove" || "Add To List"}}</button>
          <button class="btn btn-primary btn-xs" data-ng-click="printManufacturerCoupon($event, item)">Print Now</button>
          <p class="coupon-message coupon-message-{{item.ProductCode}}" data-ng-bindonce=""></p>
        </div>
      </div>
    </div>
  </div>
</div>