<div class="hidden-meta" data-gsn-title="{{ChainName}} coupons"></div>
<div data-ctrl-coupon-classic="" data-ng-init="sortByName = 'About to Expire';">
  <ul class="nav nav-tabs" data-ng-include="getContentUrl('/views/engine/coupons-tabs.html')"></ul>
  <div data-ng-include="getContentUrl('/views/engine/coupons-digital.html')" data-ng-if="currentPath.indexOf('/coupons/digital') == 0"></div>
  <div data-ng-include="getContentUrl('/views/engine/coupons-printable.html')" data-ng-if="currentPath.indexOf('/coupons/printable') == 0"></div>
  <div data-ng-include="getContentUrl('/views/engine/coupons-store.html')" data-ng-if="currentPath.indexOf('/coupons/store') == 0"></div>
</div>