<div class="row">
    <div class="col-md-2">
    <img class="hidden-xs" src="http://placehold.it/160x600">
    </div>
    <div class="col-md-8">
        <div class="row savings-sort">
            <div class="col-md-3">
                <div style="margin-top: 6px;">
                    <span>Total Savings - ${{selectedCoupons.totalSavings}}</span>
                </div>
            </div>
            <div class="col-md-9">
            <div style="float: right;">
            <span class="sortBy">
                <span>Sort By:</span>
                <div class="btn-group dropdown" dropdown>
                    <button style="padding-left: 34px; padding-right: 33px;margin-left: 17px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{sortByName}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-touch" role="menu" style="left: 28px;">
                        <li><a href="javascript:void(0)" data-ng-click="sortBy = 'EndDate';sortByName='About to Expire'">About to Expire</a></li>
                        <li><a href="javascript:void(0)" data-ng-click="sortBy = 'CategoryName';sortByName='Department'">Department</a></li>
                    </ul>
                </div>
            </span>
           <br class="hidden-lg" />
                <span>Search By:</span>
                <div class="searchField btn-group">
                    <input class="btn btn-default" type="text" placeholder="Enter Keyword" style="color: #000000;" data-ng-model="filterBy" name="filterby" />
                </div>
           
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 noCoupons" data-ng-show="selectedCoupons.items.length <= 0 && filterBy">No results returned.</div>
            <div data-infinite-scroll="loadMore()">
                <div class="col-md-4 coupons" data-ng-repeat="item in selectedCoupons.items">
                    <div class="coupon-container">
                        <div class="row">
                            <div class="image-container">
                                <img data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
                            </div>
                            <div class="description">
                                <h4>{{item.Description1}}</h4>
                                <p>{{item.Description2 | truncate:false:100:' ...'}}</p>
                                <p style="font-weight: bold;">expires: {{item.EndDate | date: 'M / dd / yyyy'}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="controls">
                                <button class="btn btn-default btn-xs" data-ng-click="doToggleCartItem($event, item)">{{ isOnList(item) && "Remove" || "Add To List"}}</button>
                                <button class="btn btn-default btn-xs" data-ng-click="printManufacturerCoupon($event, item)" data-ng-if="!gsnApi.browser.isMobile">Print Now</button>
                                <p class="coupon-message coupon-message-{{item.ProductCode}}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <img class="hidden-xs" src="http://placehold.it/160x600">
    </div>
</div>