<div class="modal-content">
  <div class="modal-header">
    <h1>Select Your Store</h1>
  </div>
  <div class="modal-body">
    <div>Get your local deals right here, right now.</div>
    <br />
    <div data-ng-include="getThemeUrl('/views/engine/store-select-plugin.html')"></div>
  </div>
  <div class="modal-footer" style="text-align: left">
    You must select a store to continue.
  </div>
</div>

<style>
.mystore {
  color: green;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: green;
}
</style>
