<div class="row" data-ctrl-account="">
  <form role="form" name="myForm" data-ng-submit="updateProfile()" data-ng-hide="profileUpdated">
    <div class="form-group">
      <label for="firstname">
        First Name:
      </label>
      <input type="text" class="form-control" name="firstname" placeholder="Enter first name" data-ng-model="profile.FirstName" data-ng-required="true" />
    </div>

    <div class="form-group">
      <label for="lastname">
        Last Name:
      </label>
      <input type="text" class="form-control" name="lastname" placeholder="Enter last name" data-ng-model="profile.LastName" data-ng-required="true" />
    </div>

    <div class="form-group" data-ng-if="!isFacebook">
      <label for="email">
        Email address:
      </label>
      <input type="email" class="form-control" name="email" placeholder="Enter email address" data-ng-model="profile.Email" data-gsn-valid-user="required" data-ng-required="true" />
      <p class="help-block" data-ng-show="myForm.email.$error.gsnValidUser">
        Email is invalid or not available.
      </p>
    </div>
  
    <div class="checkbox">
      <label for="receiveemail">
        <input type="checkbox" name="receiveemail" data-ng-model="profile.ReceiveEmail">
        Receive Email
      </label>
      <p class="help-block"><a data-ng-href="/privacy">Privacy Policy</a></p>
    </div>
    
    <div class="form-group">
      <label for="primarystoreid">
        Choose a store:
      </label>
      <select name="primarystoreid" data-ng-model="profile.PrimaryStoreId" data-ng-options="store.StoreId as store.StoreName for store in stores" data-ng-required="true">
        <option value="">-- choose a store --</option>
      </select>
    </div>
    <div>
      <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
      <button type="button" class="btn btn-primary" tabindex="-1" data-ng-click="goBack()">Cancel</button>
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-primary" data-gsn-modal="getThemeUrl('/views/engine/modal-change-password.html')" data-ng-click="showModal()">Change Password</button>
    </div>
  </form>

  <div data-ng-show="profileUpdated">Thank you for updating your profile.</div>
</div>
