<div data-gsn-partial-content="" class="col-md-12">
  <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="pcvm.isLoading"></div>
  <div data-ng-if="pcvm.notFound"> 
  

  
    <h1>Page is unavailable</h1>
    The page you are trying to reach is temporarily unavailable or may no longer exist.
    <h2>Here's what you can do:</h2>
    Click your browser's Refresh button to try reconnecting<br />
    Check the spelling of the URL to make sure the address is correct (capitalization and punctuation are important) and then click your browser's Refresh button<br />
    Go to <a href="javascript:void(0)" data-ng-click="goUrl('/')">Home Page</a> or <a href="javascript:void(0)" data-ng-click="goBack()">Back to previous page</a>
    <br />
    <br />
  </div>
  <div data-ng-if="!pcvm.notFound" data-ng-include="getThemeUrl('/views/static-content/' + pcvm.layout + '.html')"></div>
</div>
<style>
.staticContent img {
    width: 100%;
}
</style>