<div class="hidden-meta" data-gsn-title="{{ChainName}} | store locator"></div>
<div data-ctrl-store-locator="">
  <h1>Locate Your Favorite Store</h3>
  <!-- search form-->
  <div class="col-md-3 col-sm-3">
    <form name="myStoreLocatorForm">
      Zip, City or State: 
      <input class="search" type="text" name="search" data-ng-model="search.storeLocator"><br />
      Find stores within
      <input class="radius" type="text" name="searchRadius" data-ng-model="searchRadius">
      miles
      <div class="form-group">
        <button class="btn btn-xs" data-ng-click="doSearch()">Search</button>
        <button class="btn btn-xs" data-ng-click="doClear()">Reset</button>
      </div>
      <br />
    </form>
    <br />
    <div data-ng-if="searchFailed">
      Unable to locate a store within the specified search radius.  Displaying first closest store below.
    </div>
  </div>
  <div class="col-md-9 col-sm-9">
    <!-- the map -->
    <div id="map_canvas" data-ui-map="myMap" class="map-container gMap" data-ui-options="mapOptions" style="height: 280px;"></div>
    <!-- the map popup view definition -->
    <div class="infoMarker" data-ui-map-info-window="myInfoWindow">
      <div data-ng-show="currentMarker.location">
        <strong>{{currentMarker.location.StoreName}}</strong><br />
        <address>
          {{currentMarker.location.PrimaryAddress}}<br />
          {{currentMarker.location.City}}, {{currentMarker.location.StateName}} {{currentMarker.location.PostalCode}}  
        </address>
        <div>
          <a href="javascript:void(0)" class="btn btn-primary btn-xs" data-ng-click="selectStore(currentMarker)">Select Store</a>
        </div>
      </div>
      <div data-ng-show="!currentMarker.location">
        <br />
        search result for: {{search.storeLocator}}<br />
      </div>
    </div>
  </div>
  <!-- stores -->
  <div class="allStores row">
    <div data-ng-repeat="group in vmsl.myMarkerGrouping"><br />
      <div class="col-md-12"><h2>{{group.key}}</h2></div><br />
      <div data-ng-repeat="marker in group.items"
        class="col-md-3 col-sm-4 col-xs-12 singleStoreInfo" 
        data-ng-include="getThemeUrl('/views/engine/store-locator-item.html')" 
        itemscope itemtype="http://schema.org/Store"></div>
      </div>
    </div>
  </div>
</div>
<style>
  .singleStoreInfo div
  {
    display: block;
  }
  .singleStoreInfo {
    height: 300px;
  }
  
</style>