<div>
  <a href="javascript:void(0)" data-ng-click="openMarkerInfo(marker, 14)" scroll-to="map_canvas">
		<h4 itemprop="name">{{marker.location.StoreName}}</h4>
	</a>
</div>
<div style="height: 200px; overflow-y: scroll">
  <div>
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
     <span itemprop="streetAddress">{{marker.location.PrimaryAddress}}</span><br />
     <span itemprop="addressLocality">{{marker.location.City}}</span>, <span itemprop="addressRegion">{{marker.location.StateName}}</span> <span itemprop="postalCode">{{marker.location.PostalCode}}</span><br />
     <span itemprop="telephone">{{marker.location.Phone}}</span>
   </address>
  </div>
  <div>
     <a href="javascript:void(0)" data-ng-click="selectStore(marker, true)" class="btn btn-primary">
      <i class="fa fa-square-o" data-ng-hide="isCurrentStore(marker)"></i>
      <i class="fa fa-check-square-o" data-ng-show="isCurrentStore(marker)"></i> My Store
    </a>
  </div>
  <div><i data-ng-if="searchCompleted">{{marker.location.zDistance}} miles</i></div>
  <div>Store Hours:</div>
  <div data-ng-bind-html="marker.location.OpenHoursDisplay" itemprop="openingHours"></div>
  <div data-ng-bind-html="marker.location.Misc2"></div>
  <div data-ng-bind-html="marker.location.Misc3"></div>
  <div data-ng-if="marker.location.PharmacyHours" itemscope itemtype="http://schema.org/Pharmacy">
    <h2 itemprop="name">{{marker.location.StoreName}} Pharmacy</h2>
    <div itemprop="description"></div><br />
    <div>Open: <span itemprop="openingHours">{{marker.location.PharmacyHours}}</span></div><br />
    <div>Phone: <span itemprop="telephone">{{marker.location..PharmacyPhone}}</span></div><br />
  </div>
  <div data-ng-show="marker.location.Redirect">
    <a href="javascript:void(0)" data-ng-click="goUrl(decodeServerUrl(marker.location.Redirect))">
      <h5>Store Details</h5>
    </a>
  </div>
  <a data-ng-href="https://maps.google.com?saddr=Current+Location&amp;daddr={{marker.location.Latitude}},{{marker.location.Longitude}}" target="_blank">Get Direction</a>
</div>
