body
{
	background-color: #fff7e0;
}

a
{
	color: #800000;
}

ul
{
	padding: 0;
}

/*------ Menu ------*/
.navbar-default
{
	background-color: #800000;
	border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus
{
	color: #fff7e0;
}

.fa
{
	margin-top: 4px;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:active
{
	color: #ffff00;

}

/*------ Shopping List ------*/
.list
{
	background-color: #fff7e0;
	color: #000000 !important;
	margin-top: 4px;
	padding: 10px !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover
{
	border: none;
}

/*------ Home ------*/
.slider-side-column
{
	margin-left: 18px;
}

.features
{
	margin-bottom: 15px;
	margin-top: 15px;
}

.features h4
{
	color: #800000;
	font-size: 16px;
	text-align: center;
}

.features a
{
	color: #000000;
}

.features p
{
	text-align: center;
}

.brands ul
{
	margin-left: 24px;
}

.brands li
{
	display: inline-block;
}

.brands li a
{
	padding-left: 10px;
	padding-right: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.brands {
		margin-left: 38px;
	}
}

/*------ Footer ------*/
footer
{
	margin-top: 30px;
}

footer .container
{
	border-top: 1px solid #800000;
	padding-top: 15px;
}

.your-store, .company-info, .social, .yourStore
{
	text-align: center;
}

.social li
{
	display: inline-block;
}

/*------ Coupons (printable for now) ------*/
.savings-sort
{
	margin: 10px 0;
}

.coupons
{
	padding-left: 5px;
	padding-right: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.coupons {
		padding-left: 15px;
		padding-right: 15px;
	}

	.sortBy button {
		margin-bottom: 5px;
	}
}

.coupon-container
{
	border: 1px dashed #d3d3d3;
	border-radius: 5px;
	height: 144px;
	margin-bottom: 10px;
}

.image-container
{
	float: left;
	height: 100px;
	width: 97px;
	position: relative;
	padding: 5px 15px;
}

.coupon-container img
{
	max-height: 87px;
    max-width: 70px;
}

.description h4
{
	font-size: 14px;
	font-weight: bold;
}

.description p
{
	font-size: 10px;
	padding: 0 8px;
	width: 90%;
}

.controls
{
	margin: 4px 46px;
}

.controls button:first-child
{
	margin-right: 40px;
}

/*------ Circular flyer view thumbnail alignment ------*/
/*------ These are a temporary fix ------*/
.dcircular-list-single
{
	height: 295px;
	width: 25%;
}

.dcircular-caption h3
{
	font-size: 15px;
}
