<div data-gsn-rss-feed="http://cobornsblog.com/feed/" data-ng-model="feed">
  <h1><a href="http://cobornsblog.com/">Coborn's Blog</a></h1>
  <div class="col-md-9">
  <div ng-repeat="entry in feed.entries" id="link{{$index}}">
    <h2 data-ng-init="entry.content2 = (entry.content | replaceWith:'&lt;a':'gi':'&lt;a target=_blank')">{{entry.title}}</h2>
    <span ng-bind-html="entry.content2"></span>
    <a data-ng-href="{{entry.link}}" target="_blank">READ MORE <i class="fa fa-chevron-right"></i></a>
    <hr />
    </div>
  </div>
  <div class="col-md-3">
    <ol>
    	<li ng-repeat="entry in feed.entries" ><a href="javascript:void(0)" scroll-to="link{{$index}}">{{entry.title}}</a></li>
    </ol>
  </div>
  
</div>