

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Produce Sale!</div>
      <div class="intro-heading">5 for $15</div>
      <a href="#portfolio" class="page-scroll btn btn-xl"><i class="fa fa-angle-double-down fa-4x"></i></a> </div>
  </div>
</header>

<!-------- Login Social Bar--------->
<section id="loginSocialbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
       
      </div>
    </div>
    <div class="row text-center services">
      
      
      
      <div id="socialBar"> 
      <div style="float:left; padding:8px 10px 0px 10px;"><a href="#">Login/Register</a></div>
      <div id="socialicons" style="float:right;">
       <div style="float:right;">
       <a class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube"></i></a>
       </div>
       <div style="float:right;">
       <a class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
       </div>
       <div style="float:right;">
       <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
       </div>
       <div style="float:right;">
       <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
       </div>
       <div style="float:right;">
       <a class="btn btn-social-icon btn-rss"><i class="fa fa-rss"></i></a>
       </div>
        <div style="float:right;">
       <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
       </div>
       </div>
       
      <div style="clear:both; height:1px;"></div>
     
      
       
      </div>
      
      
    </div>
  </div>
</section>
<!-- Promo -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!--<h2 class="section-heading">Portfolio</h2>-->
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div><i><img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/hover/featuredDeal1_400.jpg" class="img-responsive" alt=""></i></div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredDeal1_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Typi non habent</h4>
          <p class="text-muted">Claritas est etiam processus dynamicus</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div><i><img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/hover/featuredDeal2_400.jpg" class="img-responsive" alt=""></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredDeal2_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Claritas est etiam</h4>
          <p class="text-muted">Donec quam felis, ultricies nec</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/weeklyAds_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Mirum est notare</h4>
          <p class="text-muted">Duis autem vel eum iriure dolor</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredDeal3_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Facilisis at vero eros et</h4>
          <p class="text-muted">Eodem modo typi qui nunc</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredDeal4_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Quam nunc putamus</h4>
          <p class="text-muted">Duis autem vel eum iriure dolor</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredBlog_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Fiant sollemnes in futurum</h4>
          <p class="text-muted">Investigationes demonstraverunt lectores</p>
        </div>-->
      </div>
      
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredDeal5_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Typi non habent</h4>
          <p class="text-muted">Claritas est etiam processus dynamicus</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredDeal6_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Claritas est etiam</h4>
          <p class="text-muted">Donec quam felis, ultricies nec</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredRecipe_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Mirum est notare</h4>
          <p class="text-muted">Duis autem vel eum iriure dolor</p>
        </div>-->
      </div>
      
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/featuredPromo_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Typi non habent</h4>
          <p class="text-muted">Claritas est etiam processus dynamicus</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/futurePromo_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Claritas est etiam</h4>
          <p class="text-muted">Donec quam felis, ultricies nec</p>
        </div>-->
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item"> <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content"> <i class="fa fa-search-plus fa-3x"></i> </div>
        </div>
        <img src="http://cdn-staging.gsngrocers.com/asset/75/img/promo/signupExclusiveDeals_400.jpg" class="img-responsive" alt=""> </a>
        <!--<div class="portfolio-caption">
          <h4>Mirum est notare</h4>
          <p class="text-muted">Duis autem vel eum iriure dolor</p>
        </div>-->
      </div>
      
      
    </div>
  </div>
</section>

