<style>
.carousel-inner img {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider {
  top: 0;
  width: 100%;
}

.slider.active-add
{
  left: 100%;
}

.slider.active-add-active,.active-remove
{
  left: 0;
}

.slider.active-remove-active
{
  left: -100%;
}
</style>
<div class="row">
  <div>
    <div class="col-md-12 featuredContent" data-gsn-partial-content="Home Slideshow"> 
      <div data-gsn-carousel="" class="carousel slide" data-interval="5000" data-slides="getContentList()">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-ng-repeat="item in slides" data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" data-ng-swipe-left="next()" data-ng-swipe-right="prev()" data-ui-event="{'mouseover': 'stop()', 'mouseout': 'play()'}">
          <div data-ng-repeat="item in slides" data-ng-bind-html="item.Description | removeAspx | trustedHtml" class="slider item" data-ng-class="{ 'active': $index == currentIndex() }"></div>
        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" data-ng-click="prev()">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-ng-click="next()">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6" data-content-position="1" data-gsn-ft-content="">
          <div class="featuredBlock fill">
            <h3>Pharmacy</h3>
            <img data-ng-src="{{getContentUrl('/images/pharmPic.png')}}" alt="Pharmacy" class="" />
            <p>At Sun Fresh, our pharmacists do more than fill prescriptions. We'll answer your questions about prescription refills and over-the-counter medications, vitamins and other health related issues.</p>
          </div>
        </div>
        <div class="col-md-6" data-content-position="2" data-gsn-ft-content="">
          <div class="featuredBlock fill"> 
            <h3>Digital Coupons</h3>
            <img data-ng-src="{{getContentUrl('/images/digitalCoupons.png')}}" alt="Digital Coupons" class="" />
            <p>Sun Fresh now offers digital coupns. No Clipping required! Add coupons directly to your Sun Fresh rewards card.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" data-content-position="3" data-gsn-ft-content="">
          <div class="featuredBlock">
            <h3>Rewards Card</h3>
            <img data-ng-src="{{getContentUrl('/images/gsnRewardsCard.png')}}" alt="Rewards" class="" />
            <p>We are always looking for ways to save you money by offering every day low prices and hundreds of sale items every week. Now, we want to do even more, by making your shopping with us a rewarding experience.</p>
          </div>
        </div>
        <div class="col-md-6" data-content-position="4" data-gsn-ft-content="">
          <div class="featuredBlock">
            <h3>Party Trays</h3>
            <img data-ng-src="{{getContentUrl('/images/partyTray.png')}}" alt="Rewards" class="" />
            <p>We create our party trays right in the Deli - be ready for your next get-together, whether it’s for ten or two hundred guests.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" data-content-position="5" data-gsn-ft-content="">
      <div class="rightColumn fill">
        <h3>In Store Savings</h3>
        <div class="sideBarRight slotOne">
          <a data-ng-href="/circular">
            <h3>Weekly Ad</h3>
            <img class="homeCirc" data-ng-src="{{getContentServiceUrl('GetCircularImage')}}" alt="Weekly Ad" />
          </a>
        </div>
        <div class="sideBarRight slotTwo">
          <a data-ng-href="/coupons/printable">
            <h3>Printable Coupons</h3>
            <img data-ng-src="{{getContentUrl('/images/coupons.png')}}" alt="Printable Coupons" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>