<!-- engine layout -->

  <!-- custom header -->
<div id="insideHeader" class="insideHeader"> 
  <div class="container">
  <img class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/75/creative/201602/635906169323799955-errorheader.jpg" alt="Sign Up Today!"> 
  </div>
</div>
<div class="container">
	<div class="row">
 		<div class="col-lg-12 text-center">
        <h1 style="opacity: .9;" class="Cob-section-heading_small">Oops!</h1>
		</div>
    </div>
    <div class="row">
 		<div class="col-lg-12 text-center">
 		<h4 style="opacity:.9;" class="about-heading_small">Well this is embarrassing, you're not supposed to see this.</h4>
     		<div class="clear_small">
            </div>
     	</div>
	</div>
</div>
     
<!-- end header -->

<div class="row">
  <div class="col-md-8" data-ng-view="" style="padding-right: 5px"></div>
  <div class="col-md-4 text-center">
    <div data-gsn-sticky="" data-top="60" style="margin-left: -40px">

      <div data-ng-include="getThemeUrl('/views/engine/shopping-list-plugin.html')"class="row"><div>
      <div style="padding: 5px" data-ng-include="getThemeUrl('/views/engine/available-varieties.html')" class="availableVarieties generic-content" data-ng-if="gvm.selectedItem"></div>
      <div style="padding: 5px" data-gsn-ad-unit="4" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
      <div style="padding: 5px" data-gsn-ad-unit="5" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
    </div>
  </div>
</div>
<div data-gsn-sticky="" data-bottom="0" data-ng-class="{ 'stuck-collapsed': gvm.adsCollapsed }">
	<div class="stuck-collapser" data-ng-click="gvm.adsCollapsed = !gvm.adsCollapsed"><i class="fa fa-times"></i></div>
  <div style="padding: 5px" class="brickunit" data-sizes="leaderboard" data-targeting='{"tile": "1"}'></div>
</div>